$font: "brandon_light";
$body-font: "Raleway, sans-serif";
$margin-bot: 40px;

// ################### HEADER #####################
$opacity: .8;
$nav-font-size: 14px;
$nav-padding: 10px;
$nav-margin: 10px;
$nav-anchor-color: white;
$nav-background-color: black;
$nav-height: 40px;

// ################### HEADER #####################

// ################### ABOUT #####################
$about-left-right-padding: 0 16px 16px 0;

// ################### MENU #####################
$menu-left-right-padding: 0 16px 16px 0;

// ################### GALLERY #####################

// ################### CONTACT #####################

// ################### FOOTER #####################
$footer-font-size: 14px;
$footer-font-color: white;
$footer-background-color: black;
$footer-height: 40px;
