// ################### HEADER #####################
$opacity: .8;
$nav-font-size: 14px;
$nav-padding: 10px;
$nav-margin: 10px;
$nav-anchor-color: white;
$nav-background-color: black;
$nav-height: 40px;

// ################### FOOTER #####################
$footer-font-size: 14px;
$footer-font-color: white;
$footer-background-color: black;
$footer-height: 40px;
