@import "variables";

* {
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 0;
}

// ################### NAVBAR #####################

ul.topnav {
  align-items: center;
  background-color: $nav-background-color;
  color: $nav-anchor-color;
  display: flex;
  font-family: $font;
  font-size: $nav-font-size;
  height: $nav-height;
  justify-content: space-around;
  opacity: $opacity;
  padding-left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
  li {
    list-style: none;
    a {
      color: $nav-anchor-color;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

ul.topnav {
  li.dropdownIcon {
    display: none;
  }
}

// ################### HEADER #####################

.header {
  background-attachment: fixed;
  background-image: url('../images/5.jpg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-bottom: $margin-bot;
  position: relative;
  width: 100%
}

.gallery-header {
  background-attachment: fixed;
  background-image: url('../images/4.jpg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-bottom: $margin-bot;
  position: relative;
  width: 100%
}

.header-logo {
  display: block;
  padding-top: 40px;
  position: absolute;
  width: 100%;
  top: 40%;
  z-index: 1;
  h1 {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px black;
  }
}

// ################### ABOUT #####################
.about {
  display: flex;
  justify-content: space-around;
  margin-bottom: $margin-bot;
  .about-image {
    flex: 1;
    padding: $about-left-right-padding;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
  .about-text {
    flex: 1;
    padding: $about-left-right-padding;
    h2 {
      font-family: $body-font;
      text-align: center;
    }
    p {
      font-family: $font;
    }
  }
}

// ################### MENU #####################
.menu-header {
  font-family: $body-font;
  text-align: center;
}

.item-header {
  font-family: $body-font;
  text-align: center;
}

.menu {
  display: flex;
  margin-bottom: $margin-bot;
  margin-top: 40px;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  padding: $menu-left-right-padding;
  h2 {
    margin-bottom: $margin-bot;
  }
  a {
    font-family: $font;
  }
}

.menu-display {
  flex: 2;
  padding: $menu-left-right-padding;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  line-height: 30px;
  div:nth-child(2) {
    text-align: center;
  }
  div:nth-child(3) {
    text-align: right;
  }
  div {
    font-family: $body-font;
  }
}

.item-header {
  margin-bottom: $margin-bot;
}

.item.subheader {
  display: flex;
  flex-direction: row;
}

.brownrice {
  font-size: .8em;
  margin: 0 auto;
  width: 60%;
}

// ################### GALLERY #####################
.gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: $margin-bot;
  h2 {
    font-family: $font;
    text-align: center;
  }
}

.grid-item {
  width:33.33%;
  img {
    padding: 3px;
    max-width: 100%;
    @media only screen and (max-width: 800px) {
      padding: 1px;
    }
  }
}

// ################### CONTACT #####################
.contact {
  margin-bottom: 2 * $margin-bot;
  margin-top: 40px;
}

.contact-info {
  div {
    background-color: white;
    margin: 0 auto;
    margin-top: -120px;
    position: relative;
    width: 50%;
    z-index: 999;
    @media only screen and (max-width: 800px) {
      width: 80%;
    }
    h2 {
      padding-top: 20px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      font-size: .8em;
      text-align: center;
    }
  }
}

.contact-header {
  font-family: $body-font;
}

// ################### FOOTER #####################
.footer {
  align-items: center;
  background-color: $footer-background-color;
  color: $footer-font-color;
  display: flex;
  font-size: $footer-font-size;
  height: $footer-height;
  justify-content: space-around;
  opacity: $opacity;
  li {
    list-style: none;
    text-transform: uppercase;
    a {
      color: $footer-font-color;
      text-decoration: none;
    }
  }
}

.footer-hours, .footer-pin {
  &:hover {
    cursor: pointer;
  }
}

ul.footer {
  bottom: 0;
  padding-left: 0;
  // position: fixed;
  width: 100%;
  li.footer-hours {
    display: none;
  }
  li.footer-pin {
    display: none;
  }
  li.footer-tel {
    display: none;
  }
}

.modal-hours {
  p {
    text-align: center;
  }
}

// ################### MOBILE #####################

@media only screen and (max-width: 800px) {
// ################### NAVBAR #####################
  ul.topnav {
    align-items: center;
    li:not(:nth-child(1)) {
      display: none;
    }
    li.logo {
      margin: 0 auto;
    }
    li.dropdownIcon {
      display: block;
      padding-right: $nav-padding;
    }
  }

  ul.responsive {
    background-color: $nav-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: $opacity;
    position: fixed;
    width: 100%;
    z-index: 9999;
    li {
       display: inline;
       list-style: none;
       float: none;
       z-index: 99999;
       a {
           color: $nav-anchor-color;
           display: block;
           font-size: $nav-font-size;
           margin-bottom: $nav-margin;
           padding-left: 10px;
           padding-top: $nav-padding;
           text-decoration: none;
         }
     }
  }

  ul.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: $nav-padding;
  }

// ################### ABOUT #####################

  .about {
    flex-direction: column;
  }

// ################### MENU #####################
.menu {
  flex-direction: column;
  a {
    text-align: center;
  }
}

// ################### GALLERY #####################

.modal-img {
  max-width: 300px;
}

// ################### FOOTER #####################

  ul.footer {
    li {
      display: none;
    }
  }

  ul.footer {
    li.footer-hours {
      display: block;
    }
    li.footer-pin {
      display: block;
    }
    li.footer-tel {
      display: block;
    }
  }

}
