* {
  margin: 0;
  padding: 0; }

ul {
  margin-bottom: 0; }

ul.topnav {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-family: "brandon_light";
  font-size: 14px;
  height: 40px;
  justify-content: space-around;
  opacity: 0.8;
  padding-left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000; }
  ul.topnav li {
    list-style: none; }
    ul.topnav li a {
      color: white;
      text-decoration: none;
      text-transform: uppercase; }

ul.topnav li.dropdownIcon {
  display: none; }

.header {
  background-attachment: fixed;
  background-image: url("../images/5.jpg");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-bottom: 40px;
  position: relative;
  width: 100%; }

.header-logo {
  display: block;
  padding-top: 40px;
  position: absolute;
  width: 100%;
  top: 40%;
  z-index: 1; }
  .header-logo h1 {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px black; }

.about {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px; }
  .about .about-image {
    flex: 1;
    padding: 0 16px 16px 0;
    width: 100%; }
    .about .about-image img {
      max-width: 100%; }
  .about .about-text {
    flex: 1;
    padding: 0 16px 16px 0; }
    .about .about-text h2 {
      font-family: "Raleway, sans-serif";
      text-align: center; }
    .about .about-text p {
      font-family: "Raleway, sans-serif"; }

.menu-header {
  text-align: center; }

.item-header {
  text-align: center; }

.menu {
  display: flex;
  margin-bottom: 40px; }

.menu-nav {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 0; }
  .menu-nav h2 {
    margin-bottom: 40px; }

.menu-display {
  flex: 2;
  padding: 0 16px 16px 0; }

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  line-height: 30px; }
  .grid div:nth-child(2) {
    text-align: center; }
  .grid div:nth-child(3) {
    text-align: right; }
  .grid div {
    font-family: "Raleway, sans-serif"; }

.item-header {
  margin-bottom: 40px; }

.item.subheader {
  display: flex;
  flex-direction: row; }

.brownrice {
  font-size: .8em;
  margin: 0 auto;
  width: 60%; }

.parallax {
  background-image: url("../images/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh; }

.gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px; }
  .gallery h2 {
    text-align: center; }

.gallery-images {
  display: flex;
  flex-wrap: wrap; }
  .gallery-images img {
    max-width: 200px;
    width: 100%; }

.contact-header {
  text-align: center; }

.contact {
  margin-bottom: 80px; }

.footer {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: space-around;
  opacity: 0.8; }
  .footer li {
    list-style: none;
    text-transform: uppercase; }
    .footer li a {
      color: white;
      text-decoration: none; }

ul.footer {
  bottom: 0;
  padding-left: 0;
  width: 100%; }
  ul.footer li.footer-hours {
    display: none; }
  ul.footer li.footer-pin {
    display: none; }
  ul.footer li.footer-tel {
    display: none; }

ul.modal-hours li {
  list-style: none; }

@media only screen and (max-width: 800px) {
  ul.topnav {
    align-items: center; }
    ul.topnav li:not(:nth-child(1)) {
      display: none; }
    ul.topnav li.logo {
      margin: 0 auto; }
    ul.topnav li.dropdownIcon {
      display: block;
      padding-right: 10px; }

  ul.responsive {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.8;
    position: relative; }
    ul.responsive li {
      display: inline;
      list-style: none;
      float: none; }
      ul.responsive li a {
        color: white;
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        padding-top: 10px;
        text-decoration: none; }

  ul.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px; }

  .about {
    flex-direction: column; }

  .menu {
    flex-direction: column; }
    .menu a {
      text-align: center; }

  ul.footer li {
    display: none; }

  ul.footer li.footer-hours {
    display: block; }
  ul.footer li.footer-pin {
    display: block; }
  ul.footer li.footer-tel {
    display: block; } }

/*# sourceMappingURL=styles.css.map */
